#root document
node_modules/
package-lock.json
.github/

#client
client/.env.local
client/node_modules/
client/package-lock.json

#server
server/.env.local
server/node_modules/
server/package-lock.json